.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.list-item:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.list-item:nth-child(0n+1) {
  background-color: var(--primary);
}

.list-item:nth-child(0n+4) {
  background-color: var(--primary);
}

.list-item:nth-child(0n+5) {
  background-color: var(--primary);
}


@media only screen and (max-width: 350px) {
  .country-list {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

@media only screen and (min-width: 600px) {
  .country-list {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media only screen and (min-width: 700px) {
  .country-list {
    grid-template-columns: repeat(4, 1fr);
  }
  
}