.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--lato);
  min-height: 100vh;
  width: 100%;
  background-color: #ff5294;
  color: var(--neutral);
}

.country-map {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  padding: 1rem;
}

.country-map img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  gap: 0.5rem;
  height: 5vh;
  width: 100%;
  padding: 0.2rem 1rem;
  background-color: var(--primary);
}

.headline h2 {
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.details-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding: 2rem;
}

.list-item h2 {
  display: flex;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.list-item:nth-child(even) {
  background-color: var(--primary);
}

.list-item svg {
  display: flex;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  padding: 0;
  margin: 0;
}
