.country-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
  }
  
  .country-card::before {
    mix-blend-mode: difference;
  }
  
  .country-card::after {
    mix-blend-mode: difference;
  }
  
  .country-map {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  
  .country-map img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  /* .country-map iframe {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */
  
  .country-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-wrap: break-word;
    word-break: break-all;
    gap: 0.2rem;
    height: auto;
    width: 100%;
    padding: 0.5rem;
  }
  
  .name {
    display: flex;
    font-size: calc(10px + 1vmin);
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  
  .country-info p {
    display: flex;
    width: 100%;
    text-align: justify;
    font-weight: 300;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  

  .details-btn {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 10%;
    right: 15%;
    transform: translate(50%, -50%);
  }
  