/* Importing Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --primary: #ec4c8a;
  --secondary: #2c3e50;
  --secondary_light: #34495e;
  --neutral: #eeecec;
  --lato: 'Lato', sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
  --open-sans: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--lato);
  font-size: calc(10px + 2vmin);
  color: white;
}
